asgiref==3.3.4
botocore==1.20.84 
Cython >= 0.27.3
ChatterBot==1.0.4
click==8.0.1
colorama==0.4.3
dj-database-url==0.5.0
Django == 2.2.0
docutils==0.15.2
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==2.0.1
mathparse==0.1.2
nltk==3.6.2
packaging==20.9
Pint==0.17
psycopg2==2.8.6
pyasn1==0.4.8
pymongo==3.11.4
pyparsing==2.4.7
python-dateutil==2.7.5
pytz==2021.1
regex==2021.4.4
rsa==4.7.2
s3transfer==0.4.2
sqlparse==0.4.1
tqdm==4.61.0
urllib3==1.26.5
Werkzeug==2.0.1
whitenoise==3.3.1 
django-utils-six==2.0